



.auth-containe{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin: auto;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: rgb(176, 176, 176);
    border-radius: .5rem;
    color: black;
}
.auth-head,.auth-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.auth-head-txt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}
.auth-form-head-txt{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: .5rem;
}
.auth-form-sub-txt{
    font-size: 1.05rem;
    font-weight: 400;
    margin-bottom: .5rem; 
}
.auth-input{
    border: 0px;
    outline: 0px;
    margin: .1rem 0px;
    padding: .2rem;
    font-size: 1.02rem;
    background-color: inherit;
    border-bottom: 2px solid;
}
.auth-btn{
    padding: 4px 8px;
    font-size: 1.1rem;
    margin-top: .5rem;
    background-color: red;
    color: white;
    outline: 0px;
    border: 0px;
    cursor: pointer;
}
.auth-link{
    margin-top: 1rem;
    font-size: 1.1rem;
    color: navy;
    font-weight: 500;
    text-align: center;
}