.video-list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding-left: 0px;
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
}
.video-list-item{
    /* padding: 1rem; */
    margin: .5rem;
    /* min-width: 200px; */
}
@media (max-width:770px) {
    .video-list{
        justify-content: center;
    }
    
}
@media (max-width:425px) {
    .video-list-item{
        /* padding: 1rem; */
        margin: .5rem;
        min-width: 90%;
    }
}